<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>TodoApp - Create A Todo With Django</title>
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div django-app="TaskManager">        
    <div class="container">
        <div class="content">
            <h1>TodoApp</h1>
            <p class="tagline">a Django todo app</p>
            <form action="" method="post">
                {% csrf_token %} <!-- csrf token for basic security -->
                <div class="inputContainer half last">
                    <input type="text" id="username" name="username">
                    <label for="username">Usuário</label>
                </div>
                <div class="inputContainer half last">
                    <input type="password" id="password" name="password">
                    <label for="password">Senha</label>
                </div>
                {% if mensagem_erro %}
                <div class="row">
                    <p class="tagline">{{ mensagem_erro }}</p>                    
                </div>
                {% endif %}
                <div class="row">
                    <button class="doLogin" name="doLogin" type="submit"><i class="fa fa-sign-in icon"></i> Entrar</button>
                </div>                
            </form>
        </div><!-- content -->
    </div><!-- container -->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>